#root {
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
}

button {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
}

body,
html {
  margin-top: 1%;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 96%;
  height: 96%;
}

.grid-main {
  margin: 2% auto;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%; /* グリッドエリアの高さ */
  width: 85%;
  border: 2px solid white;
}

.score {
  justify-content: center;
  align-items: center;
  height: 20%; /* ボタンエリアの高さ */
}

.score-body {
  display: flex;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.score-body-button {
  border: 1px solid white;
  padding: 2%;
}

.hamburger-menu {
  background-color: rgb(74, 74, 74);
  display: flex;
  align-items: center;
  padding: 10px;
}

.menu-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 0.5fr);
  margin-left: 40px;
}
.cell {
  width: 72px;
  height: 72px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 奇数行のセルに適用するスタイル */
.grid .cell:nth-child(20n + 1),
.grid .cell:nth-child(20n + 2),
.grid .cell:nth-child(20n + 3),
.grid .cell:nth-child(20n + 4),
.grid .cell:nth-child(20n + 5),
.grid .cell:nth-child(20n + 6),
.grid .cell:nth-child(20n + 7),
.grid .cell:nth-child(20n + 8),
.grid .cell:nth-child(20n + 9),
.grid .cell:nth-child(20n + 10) {
  margin-left: -40px;
}

.circle {
  width: 50px; /* マルのサイズ */
  height: 50px;
  border: 3px solid white;
  border-radius: 50%; /* 円形にする */
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-large {
  width: 60px; /* 大きなマルのサイズ */
  height: 60px;
  border: 3px solid white;
  border-radius: 50%; /* 円形にする */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ipad pro 11inch Gen1 */
@media screen and (max-width: 800px) {
  .grid-main {
    height: 85%;
    width: 85%;
  }

  .grid {
    grid-template-columns: repeat(9, 0.5fr);
    margin-left: 36px;
  }
  .cell {
    width: 72px;
    height: 72px;
  }

  /* 奇数行のセルに適用するスタイルをリセット */
  .grid .cell:nth-child(20n + 1),
  .grid .cell:nth-child(20n + 2),
  .grid .cell:nth-child(20n + 3),
  .grid .cell:nth-child(20n + 4),
  .grid .cell:nth-child(20n + 5),
  .grid .cell:nth-child(20n + 6),
  .grid .cell:nth-child(20n + 7),
  .grid .cell:nth-child(20n + 8),
  .grid .cell:nth-child(20n + 9),
  .grid .cell:nth-child(20n + 10) {
    margin-left: 0px;
  }

  /* 奇数行のセルに適用するスタイル */
  .grid .cell:nth-child(18n + 1),
  .grid .cell:nth-child(18n + 2),
  .grid .cell:nth-child(18n + 3),
  .grid .cell:nth-child(18n + 4),
  .grid .cell:nth-child(18n + 5),
  .grid .cell:nth-child(18n + 6),
  .grid .cell:nth-child(18n + 7),
  .grid .cell:nth-child(18n + 8),
  .grid .cell:nth-child(18n + 9) {
    margin-left: -36px;
  }

  .circle {
    width: 50px;
    height: 50px;
  }

  .circle-large {
    width: 60px;
    height: 60px;
  }
}

/* iphone12 mini */
@media screen and (max-width: 600px) {
  .grid-main {
    height: 85%;
    width: 90%;
  }
  .grid {
    grid-template-columns: repeat(7, 0.5fr);
    margin-left: 22px;
  }
  .cell {
    width: 43px;
    height: 43px;
  }

  /* 奇数行のセルに適用するスタイルをリセット */
  .grid .cell:nth-child(20n + 1),
  .grid .cell:nth-child(20n + 2),
  .grid .cell:nth-child(20n + 3),
  .grid .cell:nth-child(20n + 4),
  .grid .cell:nth-child(20n + 5),
  .grid .cell:nth-child(20n + 6),
  .grid .cell:nth-child(20n + 7),
  .grid .cell:nth-child(20n + 8),
  .grid .cell:nth-child(20n + 9) {
    margin-left: 0px;
  }

  /* 奇数行のセルに適用するスタイルをリセット */
  .grid .cell:nth-child(18n + 1),
  .grid .cell:nth-child(18n + 2),
  .grid .cell:nth-child(18n + 3),
  .grid .cell:nth-child(18n + 4),
  .grid .cell:nth-child(18n + 5),
  .grid .cell:nth-child(18n + 6),
  .grid .cell:nth-child(18n + 7),
  .grid .cell:nth-child(18n + 8),
  .grid .cell:nth-child(18n + 9) {
    margin-left: 0px;
  }
  /* 奇数行のセルに適用するスタイル */
  .grid .cell:nth-child(14n + 1),
  .grid .cell:nth-child(14n + 2),
  .grid .cell:nth-child(14n + 3),
  .grid .cell:nth-child(14n + 4),
  .grid .cell:nth-child(14n + 5),
  .grid .cell:nth-child(14n + 6),
  .grid .cell:nth-child(14n + 7) {
    margin-left: -22px;
  }

  .circle {
    width: 34px;
    height: 34px;
    border: 2px solid white;
  }

  .circle-large {
    width: 39px;
    height: 39px;
    border: 2px solid white;
  }
}

/* android shv39 */
@media screen and (max-width: 450px) and (max-height: 720px) {
  .grid {
    grid-template-columns: repeat(8, 0.5fr);
    margin-left: 22px;
  }

  /* 奇数行のセルに適用するスタイルをリセット */
  .grid .cell:nth-child(20n + 1),
  .grid .cell:nth-child(20n + 2),
  .grid .cell:nth-child(20n + 3),
  .grid .cell:nth-child(20n + 4),
  .grid .cell:nth-child(20n + 5),
  .grid .cell:nth-child(20n + 6),
  .grid .cell:nth-child(20n + 7),
  .grid .cell:nth-child(20n + 8),
  .grid .cell:nth-child(20n + 9) {
    margin-left: 0px;
  }

  /* 奇数行のセルに適用するスタイルをリセット */
  .grid .cell:nth-child(18n + 1),
  .grid .cell:nth-child(18n + 2),
  .grid .cell:nth-child(18n + 3),
  .grid .cell:nth-child(18n + 4),
  .grid .cell:nth-child(18n + 5),
  .grid .cell:nth-child(18n + 6),
  .grid .cell:nth-child(18n + 7),
  .grid .cell:nth-child(18n + 8),
  .grid .cell:nth-child(18n + 9) {
    margin-left: 0px;
  }
  /* 奇数行のセルに適用するスタイルをリセット */
  .grid .cell:nth-child(14n + 1),
  .grid .cell:nth-child(14n + 2),
  .grid .cell:nth-child(14n + 3),
  .grid .cell:nth-child(14n + 4),
  .grid .cell:nth-child(14n + 5),
  .grid .cell:nth-child(14n + 6),
  .grid .cell:nth-child(14n + 7) {
    margin-left: 0px;
  }

  /* 奇数行のセルに適用するスタイル */
  .grid .cell:nth-child(16n + 1),
  .grid .cell:nth-child(16n + 2),
  .grid .cell:nth-child(16n + 3),
  .grid .cell:nth-child(16n + 4),
  .grid .cell:nth-child(16n + 5),
  .grid .cell:nth-child(16n + 6),
  .grid .cell:nth-child(16n + 7),
  .grid .cell:nth-child(16n + 8) {
    margin-left: -22px;
  }
}
