body,
html {
  margin-top: 5%;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}

.grid-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%; /* グリッドエリアの高さ */
}
.score {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%; /* ボタンエリアの高さ */
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 0.5fr);
}
.cell {
  width: 50px;
  height: 50px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 奇数行のセルに適用するスタイル */
.grid .cell:nth-child(12n + 1),
.grid .cell:nth-child(12n + 2),
.grid .cell:nth-child(12n + 3),
.grid .cell:nth-child(12n + 4),
.grid .cell:nth-child(12n + 5),
.grid .cell:nth-child(12n + 6) {
  margin-left: -25px;
}

.circle {
  width: 41px; /* マルのサイズ */
  height: 41px;
  border: 2px solid white;
  border-radius: 50%; /* 円形にする */
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-large {
  width: 44px; /* 特別な大きなマルのサイズ */
  height: 44px;
  border: 2px solid white;
  border-radius: 50%; /* 円形にする */
  display: flex;
  justify-content: center;
  align-items: center;
}
