button {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
}

body,
html {
  margin-top: 1%;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 94%;
}

.grid-main {
  margin-top: 2%;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%; /* グリッドエリアの高さ */
  border: 1px solid white;
}
.score {
  justify-content: center;
  align-items: center;
  height: 20%; /* ボタンエリアの高さ */
}

.score-body {
  display: flex;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.score-body-button {
  border: 1px solid white;
  padding: 2%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 0.5fr);
  margin-left: 20px;
}
.cell {
  width: 43px;
  height: 43px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 奇数行のセルに適用するスタイル */
.grid .cell:nth-child(14n + 1),
.grid .cell:nth-child(14n + 2),
.grid .cell:nth-child(14n + 3),
.grid .cell:nth-child(14n + 4),
.grid .cell:nth-child(14n + 5),
.grid .cell:nth-child(14n + 6),
.grid .cell:nth-child(14n + 7) {
  margin-left: -20px;
}

.circle {
  width: 34px; /* マルのサイズ */
  height: 34px;
  border: 2px solid white;
  border-radius: 50%; /* 円形にする */
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-large {
  width: 40px; /* 大きなマルのサイズ */
  height: 40px;
  border: 2px solid white;
  border-radius: 50%; /* 円形にする */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger-menu {
  background-color: rgb(70, 70, 70);
  display: flex;
  align-items: center;
  padding: 10px;
}

.menu-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 20px;
  font-weight: bold;
}
